Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

feat(deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): umdate @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update dev deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(deps): update pino version
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(funding): remove other sponsors
  .github/FUNDING.yml
Due: none

chore(deps-dev): update lint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(deps): update pino and pino-pretty
  .eslintrc.json
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(deps): sync lockfiles
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): updade dev deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat: update to pnpm
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat: new axios cache, new build system and test runner
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/dev.yml
  .github/workflows/master.yml
  .github/workflows/stable.yml
  .sonarcloud.properties
  README.md
  dts-generator.json
  package.json
  pnpm-lock.yaml
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/machine.spec.ts
  src/__tests__/main.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
  src/config/logger.ts
  src/structures/base.ts
  tsconfig.json
  tsup.config.js
  vitest.config.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

fix: remove unused jest config file
  .lintstagedrc.json
  jest.config.js
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: pnpm lockfile
  pnpm-lock.yaml
Due: none

fix: remove unused files and modules
  .devcontainer/devcontainer.json
  .eslintrc.json
  .gitignore
  .gitpod.yml
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  vitest.config.ts
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: add swc core
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: add coverage packages
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: npm ignore
  .npmignore
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(test): replace test with describe
  .husky/pre-commit
  package.json
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/machine.spec.ts
  src/__tests__/main.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
  src/structures/base.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

fix(clients): change api access
  src/structures/base.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(tests): add more tests
  .eslintignore
  .gitignore
  .husky/pre-commit
  .vscode/tasks.json
  package.json
  pnpm-lock.yaml
  src/__tests__/berry.spec.ts
  src/__tests__/contest.spec.ts
  src/__tests__/encounter.spec.ts
  src/__tests__/evolution.spec.ts
  src/__tests__/game.spec.ts
  src/__tests__/item.spec.ts
  src/__tests__/location.spec.ts
  src/__tests__/machine.spec.ts
  src/__tests__/move.spec.ts
  src/__tests__/pokemon.spec.ts
  src/__tests__/utility.spec.ts
  src/clients/evolution.client.ts
  src/clients/utility.client.ts
  tsconfig.eslint.json
  tsup.config.ts
  vitest.config.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update vite dependencies
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(ci): update stable workflow
  .github/workflows/stable.yml
Due: none

fix: sync lockfile
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(deps): update axios
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: add audit and sort script
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update dev deps and remove unused commitlint config
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(build): add banner to compiled files
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: add missing banner file
  banner.js
Due: none

fix(build): minify in ci env
  tsup.config.ts
Due: none

feat: update axios and banner
  banner.js
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update swc
  banner.js
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(docs): add vitest
  .gitignore
  docs/.vitepress/config.ts
  docs/index.md
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(base): fix main client cache interceptor
  docs/.vitepress/config.ts
  package.json
  pnpm-lock.yaml
  src/config/logger.ts
  src/structures/base.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update vitest deps
  package.json
  pnpm-lock.yaml
Due: git add ., prettier '**/*.{md,mdx,json}' --write

docs(github): update pull request template
  .github/pull_request_template.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write
