Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: added new EvolutionDetail fields from PokeAPI
  docs/src/typings/evolution-typings.md
  src/models/Evolution/evolution.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix: tests broken by API changes
  tests/move/move.spec.ts
  tests/utility/utility.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched

fix: update name of roomaji language in line with API change
  src/constants/utilities.ts
  tests/utility/utility.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

feat: new build and release system
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/stable.yml
  .github/workflows/test.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .release-please-manifest.json
  .releaserc
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  release-please-config.json
  sonar.properties
  src/clients/base.ts
  src/clients/index.ts
  src/config/logger.ts
  src/constants/index.ts
  src/index.ts
  src/models/Common/index.ts
  src/models/Pokemon/index.ts
  tests/encounter/encounter.spec.ts
  tests/game/game.spec.ts
  tests/utils/base-handler.ts
  tsconfig.json
  tsdown.config.ts
  tsup.config.ts
  vitest.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(build): tsdown config
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat: replace axios with native fetch
  README.md
  docs/.vitepress/meta/routes.ts
  docs/src/guides/cache.md
  docs/src/guides/fetch.md
  docs/src/guides/getting-started.md
  docs/src/guides/migration.md
  docs/src/index.md
  package.json
  pnpm-lock.yaml
  src/clients/base.ts
  src/config/cache.ts
  src/config/errors.ts
  src/config/logger.ts
  src/index.ts
  tests/berry/berry.test-d.ts
  tests/clients/base.spec.ts
  tests/config/cache.spec.ts
  tests/config/errors.spec.ts
  tests/logger/logger.spec.ts
  tests/utils/setup.ts
  tsdown.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat!: replace axios with native fetch
  docs/src/guides/cache.md
  docs/src/guides/fetch.md
  docs/src/guides/logging.md
  docs/src/guides/migration.md
  src/clients/base.ts
  src/clients/main.client.ts
  src/clients/pokemon.client.ts
  src/config/logger.ts
  src/constants/endpoints.ts
  src/index.ts
  tests/berry/berry.test-d.ts
  tests/clients/base.spec.ts
  tests/clients/main.spec.ts
  tests/clients/pokemon.spec.ts
  tests/logger/logger.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

test: fix wrong language and move test
  docs/src/guides/migration.md
  src/clients/main.client.ts
  src/constants/utilities.ts
  tests/move/move.spec.ts
  tests/utility/utility.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

chore: create claude.md
  CLAUDE.md
Due: prettier '**/*.{md,mdx,json}' --write

feat: add currency client
  CLAUDE.md
  README.md
  docs/.vitepress/meta/routes.ts
  docs/src/clients/currency-client.md
  docs/src/clients/main-client.md
  docs/src/guides/getting-started.md
  docs/src/index.md
  src/clients/currency.client.ts
  src/clients/index.ts
  src/clients/main.client.ts
  src/constants/currencies.ts
  src/constants/endpoints.ts
  src/constants/index.ts
  src/models/Currency/currency.ts
  src/models/Currency/index.ts
  src/models/index.ts
  tests/clients/currency.spec.ts
  tests/live/drift.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

chore: remove vscode settings
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/tasks.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

fix: pin nodejs version
  .nvmrc
  package.json
  tsconfig.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: tsconfig options
  CLAUDE.md
  LICENSE
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/routes.ts
  package.json
  tests/tsconfig.json
  tsconfig.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update docs
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/site.ts
  docs/.vitepress/meta/social-links.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/tsconfig.json
  docs/src/clients/berry-client.md
  docs/src/clients/contest-client.md
  docs/src/clients/currency-client.md
  docs/src/clients/encounter-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/game-client.md
  docs/src/clients/item-client.md
  docs/src/clients/location-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/main-client.md
  docs/src/clients/move-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/contributing.md
  docs/src/guides/errors.md
  docs/src/guides/fetch.md
  docs/src/guides/getting-started.md
  docs/src/guides/logging.md
  docs/src/guides/migration.md
  docs/src/public/.nojekyll
  docs/src/public/_headers
  docs/src/public/robots.txt
  package.json
  vercel.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: fix biome formatting
  biome.json
  package.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: fix sonar issues
  CLAUDE.md
  sonar.properties
  tests/clients/berry.spec.ts
  tests/clients/contest.spec.ts
  tests/clients/currency.spec.ts
  tests/clients/encounter.spec.ts
  tests/clients/evolution.spec.ts
  tests/clients/game.spec.ts
  tests/clients/item.spec.ts
  tests/clients/location.spec.ts
  tests/clients/machine.spec.ts
  tests/clients/move.spec.ts
  tests/clients/pokemon.spec.ts
  tests/clients/utility.spec.ts
  tests/live/drift.live.spec.ts
  tests/utils/model-keys.ts
  tests/utils/stub-fetch.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

feat(models): update pokemon typings and improve live tests
  .github/workflows/live.yml
  CLAUDE.md
  docs/src/index.md
  package.json
  src/models/Common/encounter.ts
  src/models/Contest/contest.ts
  src/models/Pokemon/pokemon.ts
  src/models/Pokemon/stats.ts
  src/models/Pokemon/type.ts
  tests/live/drift.live.spec.ts
  tests/utils/model-keys.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci: sonar issues
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

ci(live): harden drift issue reporting
  .github/workflows/ci.yml
  .github/workflows/live.yml
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(cache): add WebStorageCache
  docs/src/guides/cache.md
  src/config/cache.ts
  src/index.ts
  tests/config/cache.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat(sprites): add getPokemonSpriteUrl
  CLAUDE.md
  docs/.vitepress/meta/routes.ts
  docs/src/guides/sprites.md
  package.json
  src/constants/base.ts
  src/index.ts
  src/utils/index.ts
  src/utils/sprites.ts
  tests/clients/base.spec.ts
  tests/clients/berry.spec.ts
  tests/clients/contest.spec.ts
  tests/clients/currency.spec.ts
  tests/clients/encounter.spec.ts
  tests/clients/evolution.spec.ts
  tests/clients/game.spec.ts
  tests/clients/item.spec.ts
  tests/clients/location.spec.ts
  tests/clients/machine.spec.ts
  tests/clients/main.spec.ts
  tests/clients/move.spec.ts
  tests/clients/pokemon.spec.ts
  tests/clients/utility.spec.ts
  tests/helpers/model-keys.ts
  tests/helpers/setup.ts
  tests/helpers/stub-fetch.ts
  tests/live/drift.live.spec.ts
  tests/live/sprites.live.spec.ts
  tests/utils/sprites.spec.ts
  tsconfig.json
  vitest.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(logger): accept any debug/error logger
  docs/src/guides/logging.md
  src/clients/base.ts
  src/config/logger.ts
  src/index.ts
  tests/clients/base.spec.ts
  tests/config/logger.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix(client): report a response to every caller
  docs/src/guides/logging.md
  src/clients/base.ts
  src/config/logger.ts
  tests/clients/base.spec.ts
  tests/config/logger.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix: api lists and logger
  CLAUDE.md
  docs/src/clients/contest-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/logging.md
  src/clients/base.ts
  src/clients/contest.client.ts
  src/clients/evolution.client.ts
  src/clients/machine.client.ts
  src/clients/pokemon.client.ts
  src/config/cache.ts
  src/models/Common/resource.ts
  tests/config/cache.spec.ts
  tests/helpers/model-keys.ts
  tests/live/drift.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix: change regex for utility function
  src/clients/base.ts
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

fix: hide credential logging
  CLAUDE.md
  docs/src/guides/logging.md
  src/clients/base.ts
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

docs: improve code comments
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/currency.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

chore: improve banner
  tsdown.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched

docs: utility client typing fix
  docs/src/clients/utility-client.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: fix size-limit
  package.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: sync lockfile
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(client): scoped signal and timeout via with()
  docs/.vitepress/meta/routes.ts
  docs/src/guides/cancellation.md
  docs/src/guides/fetch.md
  src/clients/base.ts
  src/clients/main.client.ts
  src/index.ts
  tests/clients/base.spec.ts
  tests/clients/main.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat(client): async iteration over paginated lists
  docs/.vitepress/meta/routes.ts
  docs/src/guides/pagination.md
  src/clients/base.ts
  src/index.ts
  src/utils/pool.ts
  tests/clients/paginate.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat: resolve links and pick localized entries
  docs/.vitepress/meta/routes.ts
  docs/src/clients/main-client.md
  docs/src/guides/helpers.md
  src/clients/base.ts
  src/clients/main.client.ts
  src/utils/index.ts
  src/utils/localize.ts
  src/utils/pool.ts
  tests/clients/main.spec.ts
  tests/utils/localize.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat(client): opt-in retry with backoff
  docs/src/guides/errors.md
  docs/src/guides/fetch.md
  docs/src/guides/logging.md
  src/clients/base.ts
  src/config/logger.ts
  src/index.ts
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix(client): reject an aborted scope before dispatching
  src/clients/base.ts
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

Path conditions:
  biome check --staged --apply-unsafe --no-errors-on-unmatched: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc --noEmit: any of: src/**/*.ts
  pnpm lint:fix: any of: src/**/*.{js,ts,tsx}
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
