Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

.lintstagedrc:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply-unsafe --no-errors-on-unmatched"
  ]
}

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": ["pnpm lint:fix", "pnpm lint:tsc"],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write"],
  "package.json": ["pnpm audit", "pnpm lint:pkg"]
}

test: add server unhandledException event handler
  tests/utils/setup.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched

chore(deps-dev): update vitepress
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(husky): update commit-msg hook
  .husky/commit-msg
Due: none

build(deps): update axios
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: add husky script to skip install in ci env
  .husky/scripts/install.mjs
Due: biome check --apply-unsafe --no-errors-on-unmatched

build: update prod deps
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: remove husky install script
  .husky/scripts/install.mjs
Due: biome check --apply-unsafe --no-errors-on-unmatched

docs: update styles
  docs/.vitepress/theme/custom.css
Due: none

chore: remove code duplications
  tests/berry/mocks/data.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched

chore(dev-deps): update dependencies and project settings
  .editorconfig
  .vscode/settings.json
  .vscode/tasks.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dev deps
  .husky/commit-msg
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
  tsup.config.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update base client documentation
  src/clients/base.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc

chore: update dev deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(models): update pokemon typings
  src/models/Pokemon/pokemon.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc

docs(postman): create postman collection
  .postman/api
  .postman/api_ce467827-909f-418d-9ecc-512aed80b5f8
  postman/collections/PokéAPI.json
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update vitest to 2.0.0
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps-dev): update vitest
  .gitignore
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(models): change from interface to type
  package.json
  pnpm-lock.yaml
  src/models/Berry/berry.ts
  src/models/Location/region.ts
  src/models/Machine/machine.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build: update deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update axios to 1.7.7
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update readme
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

build(deps): upadte axios and cache interceptor
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

build(deps): update dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: sync lockfile
  pnpm-lock.yaml
Due: none

chore: add sonar properties
  sonar.properties
Due: none

test(utils): refactor nested template literals
  tests/utils/base-handler.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched

build(deps): update dependencies
  .postman/api
  .postman/api_ce467827-909f-418d-9ecc-512aed80b5f8
  biome.json
  package.json
  pnpm-lock.yaml
  postman/collections/PokéAPI.json
  vitest.config.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat: migrate from axios to fetch api gabb-c/pokenode-ts#1264
  package.json
  pnpm-lock.yaml
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/config/logger.ts
  src/config/request.ts
  tests/logger/logger.spec.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: flag request cache as readonly, clarify request error return type
  src/config/request.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc

docs: add PokemonCries documentation to align TS types and docs
  docs/src/typings/pokemon-typings.md
Due: prettier '**/*.{md,mdx,json}' --write

fix(pokemon): add `order` in `PokemonMove`
  src/models/Pokemon/pokemon.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc

feat: never throw, return undefined
  package.json
  pnpm-lock.yaml
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/config/request.ts
  tests/berry/berry.spec.ts
  tests/contest/contest.spec.ts
  tests/encounter/encounter.spec.ts
  tests/evolution/evolution.spec.ts
  tests/game/game.spec.ts
  tests/item/item.spec.ts
  tests/location/location.spec.ts
  tests/machine/machine.spec.ts
  tests/main/main.spec.ts
  tests/move/move.spec.ts
  tests/pokemon/pokemon.spec.ts
  tests/utility/utility.spec.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: resolve missing fields in package.json for build
  package.json
Due: biome check --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: added missing 'front_shiny' to 'official artwork' in the pokemon model
  src/models/Pokemon/pokemon.ts
Due: biome check --apply-unsafe --no-errors-on-unmatched, pnpm lint:fix, pnpm lint:tsc
