Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

build(prod-deps): update pino 7.0.1 to 7.0.2
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(prod-deps): update ts-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(dev-deps): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore: update min node required version
  .nvmrc
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

build(deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: engine node version
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.8.2 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  3ad0976d244c8f6c3de3b6e07888c8b84d7c6508
Due: none

chore(dev-deps): update husky
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(prod-deps): update axios and pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(prod-deps): update lint-staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(docs): update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update babel deps and semantic-release deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update commitlint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(prod-deps): update pino dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.9.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  fbd99f2ad4cc50e9ee4adcee6d6e92b5e557bc36
Due: none

fix: otherPokemonSprites field
  src/models/Pokemon/pokemon.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s
