Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

fix(docs): item client examples
  docs/clients/game-client.md
  docs/clients/item-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): updade pino and pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): updade eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: sync yarn.lock
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(docs): machine client examples
  docs/clients/machine-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): bump @types/node to 16.7.6
  package.json
  src/__tests__/berry.spec.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update @types/node
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update axios and eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): bump @types/node 16.7.10 to 16.7.13
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update pino-pretty and jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): bump @babel/preset-env 7.15.4 to 7.15.6
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(ci): step name
  .github/workflows/stable.yml
Due: none

fix(ci): remove lint commits action from master workflow
  .github/workflows/master.yml
Due: none

chore(deps): updade @types/node 16.9.0 → 16.9.1
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat: add commitizen
  .github/workflows/dev.yml
  .github/workflows/master.yml
  commitlint.config.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: remove maintainers
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

revert(package-json): remove unused deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(dev): commitlint
  commitlint.config.js
Due: none

fix: add preset
  commitlint.config.js
Due: none

fix(dev): commitlint config
  commitlint.config.js
Due: none

fix: formatting
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(emoji): emoji
  changelog.config.js
  commitlint.config.js
Due: none

fix(dev): commitlint config
  changelog.config.js
  commitlint.config.js
Due: none

fix: update deps and fix commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

test(dev): testing test commit
  src/__tests__/berry.spec.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(dev): commitizen config
  .husky/prepare-commit-msg
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update eslint-plugin-unicorn
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update prettier
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update semantic-release deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint parsers and jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update semantic-release
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update node types
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s
