Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update ts-node-dev
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint-jest-plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(models): trigger release
  src/clients/machine.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

Notes added by 'git notes add'
  c4d40911705926d0716e09dddd758449f3f98a42
Due: none

chore(release): 1.14.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint and prettier
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update dts-bundle-generator
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update typescript-eslint parser and plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(deps): update pino and pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update lint-staged and commitlint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

test(deps): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(constants): update Regions enum
  src/constants/locations.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  lockfile-lint -p ./yarn.lock -a yarn -t yarn -s: any of: ./yarn.lock
