Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

chore(deps-dev): updade jest and node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(docs): add main clent docs
  docs/_sidebar.md
  docs/clients/main-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): berry, contest, encounter and evolution clients examples
  docs/clients/berry-client.md
  docs/clients/contest-client.md
  docs/clients/encounter-client.md
  docs/clients/evolution-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): game client examples
  docs/clients/game-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): item client examples
  docs/clients/game-client.md
  docs/clients/item-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): location client examples
  docs/clients/location-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): machine client examples
  docs/clients/machine-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): move client examples
  docs/clients/move-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): pokemon client examples
  docs/clients/pokemon-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): utility client examples
  docs/clients/utility-client.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat: add makefile
  .npmignore
  Makefile
Due: none

chore(deps-dev): updade semantic release
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): updade eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): updade ts-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: package keywords
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): updade node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): updade eslint plugin import
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: sync yarn.lock
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: gitpod
  .gitpod.yml
Due: none

fix: eslint import configuration
  .eslintrc.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): updade pino and pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s
