Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(prod-deps): update pino
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(prod-deps): fix lockfile
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update semantic-release
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: formatting
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(client): add option for overriding the base url
  src/structures/base.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(dev-deps): update commitlint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps-dev): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.8.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  d6075cab07cb18b69ccd6cf4df8732dd3d392cf1
Due: none

chore(dev-deps): update eslint-plugin-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update jest and node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(prod-deps): update axios
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update eslint-plugin-jest and lint-staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(config): update .nvmrc version to latest fermium
  .nvmrc
Due: none

chore(deps-dev): update eslint and node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update babel deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint config airbnb
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: update berry client to axios 0.23.0
  package.json
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: update contest client to axios 0.23.0
  src/clients/berry.client.ts
  src/clients/contest.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix: update encounter client to axios 0.23.0
  src/clients/encounter.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix: update evolution client to axios 0.23.0
  src/clients/evolution.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix: update game client to axios 0.23.0
  src/clients/game.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(clients): update item client to axios 0.23.0
  src/clients/item.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(clients): update location client to axios 0.23.0
  src/clients/location.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(clients): update move and machine client to axios 0.23.0
  src/clients/machine.client.ts
  src/clients/move.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(clients): update pokemon and utility client to axios 0.23.0
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

fix(base): update logger and base client to pino 7.0.1
  package.json
  src/config/logger.ts
  src/structures/base.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix: sync lockfile
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(ci): remove build 15.x node
  .github/workflows/build.yml
Due: none

chore(release): 1.8.1 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  1a7863cdc1ea1ed692fd148d4bd873753ae5fb5b
Due: none

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  lockfile-lint -p ./yarn.lock -a yarn -t yarn -s: any of: ./yarn.lock
