Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore: update nvm node version
  .nvmrc
Due: none

chore(dev-deps): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint and commitlint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(logger): fix eslint warnings
  src/__tests__/berry.spec.ts
  src/config/logger.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update eslint, babel and typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update lint-staged and eslint plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(vscode): remove unused extensions from recommended
  .vscode/extensions.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(tests): remove logs from tests
  src/__tests__/berry.spec.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update lint staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update lint-staged and commitlint cli
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.10.1 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  2b2e4c954f6a7e77f1224186b629b3b577022df6
Due: none

chore(deps-dev): update dts-generator and babel deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

ci(workflows): remove unuser actions
  .github/workflows/dev.yml
  .github/workflows/master.yml
Due: none

ci: fix typo
  .github/workflows/master.yml
Due: none

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

docs: update documentation link
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.11.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  d82606a6bbeb3d8e9d4a868f6e683377fa9f0c82
Due: none

fix(docs): readme broken logo
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  5ff172cde962a51ac70da325324570c3814809a3
Due: none

chore(release): 1.11.1 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint parser and plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update axios
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(ci): remove .yarnclean from ci
  .gitignore
  .yarnclean
Due: none

chore(deps): sync lockfile
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update commitlint and lint-staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update babel presets
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update commitlint cli
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

ci(workflows): remove unused action from stable
  .github/workflows/stable.yml
Due: none

test(config): fix coverage
  jest.config.ts
Due: none

chore(deps): update pino deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  lockfile-lint -p ./yarn.lock -a yarn -t yarn -s: any of: ./yarn.lock
