Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

chore(deps-dev): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(models): typo in chainlink #463
  src/models/Evolution/evolution.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

Type Fixes: Spelling error + number type
  src/models/Pokemon/pokemon.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(ci): add current node version to ci
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  .github/workflows/dev.yml
  .github/workflows/master.yml
  .github/workflows/stable.yml
Due: none

chore(release): 1.13.2 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  0bf16e51d19a3213a52a95cd717a0f3f9917065f
Due: none

chore(deps-dev): update @swc/core and eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore: remove unused commitzen config
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update @typescript/eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

test: fix jest config file
  jest.config.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update ts-node-dev
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update @types/node
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint-jest-plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update jest types
  .yarnclean
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update dts-bundle-generator
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update typescript and swc
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

Solving NamedApiResource problem in pokemon-entry
  src/models/Game/pokemon-entry.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps): update semantic-release
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s
