Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

chore(dev-deps): update lint staged and babel core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update lint-staged eslint-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint typescript parser and plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore: update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: fix readme typo
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

ci(workflows): remove update to codeql
  .github/workflows/codeql.yml
Due: none

chore(deps-dev): update dts-bundle-generator
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore: remove ncurc
  .ncurc.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps): update pino and axios
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(model): remove duplicate type
  src/models/Moves/moves.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat: add sonarcloud metrics
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(ci): add sonarcloud action
  .github/workflows/codeql.yml
Due: none

test(ci): testing sonarcloud ci action
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

test: automatic sonarcloud analysis
  .github/workflows/sonar.yml
  .npmignore
  sonar-project.properties
Due: none

test: enable sonarcloud automatic analysis
  .npmignore
  sonar-project.properties
Due: none

chore: add sonarcloud config
  .sonarcloud.properties
Due: none

chore: fix sonarcloud file
  .sonarcloud.properties
Due: none

chore: typo
  .sonarcloud.properties
Due: none

chore: add sources prop
  .sonarcloud.properties
Due: none

chore: change sources dir
  .sonarcloud.properties
Due: none

chore: add test inclusion
  .sonarcloud.properties
Due: none

chore: change parent dir
  .sonarcloud.properties
Due: none

chore: ignore sonarcloud config
  .npmignore
Due: none

chore(deps-dev): update eslint-plugin-unicorn
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s
