Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

ci(workflows): add claude to live drift tests
  .github/CONTRIBUTING.md
  .github/workflows/live.yml
  CLAUDE.md
  docs/src/index.md
Due: prettier '**/*.{md,mdx,json}' --write

docs: revamp home page
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/routes.ts
  docs/.vitepress/shims-vue.d.ts
  docs/.vitepress/theme/components/dex-card.vue
  docs/.vitepress/theme/components/not-found.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/src/about.md
  docs/src/index.md
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

docs: custom og images
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/og-image.ts
  docs/.vitepress/meta/sections.ts
  docs/.vitepress/meta/site.ts
  docs/.vitepress/theme/components/section-header.vue
  docs/.vitepress/theme/index.ts
  docs/src/clients/berry-client.md
  docs/src/clients/contest-client.md
  docs/src/clients/currency-client.md
  docs/src/clients/encounter-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/game-client.md
  docs/src/clients/item-client.md
  docs/src/clients/location-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/move-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  docs/src/public/cover.jpg
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: docs revamp (#1414)
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/og-image.ts
  docs/.vitepress/meta/routes.ts
  docs/.vitepress/meta/sections.ts
  docs/.vitepress/meta/site.ts
  docs/.vitepress/shims-vue.d.ts
  docs/.vitepress/theme/components/dex-card.vue
  docs/.vitepress/theme/components/not-found.vue
  docs/.vitepress/theme/components/section-header.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/src/about.md
  docs/src/clients/berry-client.md
  docs/src/clients/contest-client.md
  docs/src/clients/currency-client.md
  docs/src/clients/encounter-client.md
  docs/src/clients/evolution-client.md
  docs/src/clients/game-client.md
  docs/src/clients/item-client.md
  docs/src/clients/location-client.md
  docs/src/clients/machine-client.md
  docs/src/clients/move-client.md
  docs/src/clients/pokemon-client.md
  docs/src/clients/utility-client.md
  docs/src/index.md
  docs/src/public/cover.jpg
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: fix og config
  docs/.vitepress/assets/bundlephobia-icon.svg
  docs/.vitepress/assets/jsdelivr-icon.svg
  docs/.vitepress/assets/npm-icon.svg
  docs/.vitepress/assets/packagephobia-icon.svg
  docs/.vitepress/config.ts
  docs/.vitepress/meta/head-config.ts
  docs/.vitepress/meta/icons.ts
  docs/.vitepress/meta/site.ts
  docs/src/index.md
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

chore: update dev deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update msw
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dev dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: dedupe msw copies from lockfile
  pnpm-lock.yaml
Due: none

Path conditions:
  biome check --staged --apply-unsafe --no-errors-on-unmatched: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc --noEmit: any of: src/**/*.ts
  pnpm lint:fix: any of: src/**/*.{js,ts,tsx}
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
