Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

feat(client): revalidate cache with etags
  docs/src/guides/cache.md
  docs/src/guides/logging.md
  package.json
  src/clients/base.ts
  src/clients/main.client.ts
  src/config/cache.ts
  src/config/logger.ts
  src/index.ts
  tests/clients/base.spec.ts
  tests/live/etag.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

refactor(models): name files after primary resource
  src/models/contest/contest.ts
  src/models/evolution/evolution.ts
  src/models/game/generation.ts
  src/models/game/version.ts
  src/models/index.ts
  src/models/machine/machine.ts
  src/models/move/index.ts
  src/models/move/move.ts
  src/models/moves/index.ts
  src/models/pokemon/characteristic.ts
  src/models/pokemon/growth-rate.ts
  src/models/pokemon/index.ts
  src/models/pokemon/nature.ts
  src/models/pokemon/pokemon.ts
  src/models/pokemon/stat.ts
  src/models/pokemon/type.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

refactor(constants): rename base to urls, pokemons to pokemon
  src/constants/index.ts
  src/constants/pokemon.ts
  src/constants/urls.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

refactor: move pool helper to src/internal
  src/clients/base.ts
  src/clients/main.client.ts
  src/internal/pool.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

refactor: make public exports explicit
  src/index.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

docs: record naming conventions
  CLAUDE.md
  biome.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

refactor: code complexity in base client
  src/clients/base.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

fix: harden request and cache edge cases
  docs/src/clients/main-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/errors.md
  docs/src/guides/getting-started.md
  docs/src/guides/logging.md
  docs/src/guides/migration.md
  docs/src/index.md
  src/clients/base.ts
  src/config/cache.ts
  src/config/errors.ts
  src/constants/utilities.ts
  tests/clients/base.spec.ts
  tests/config/cache.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat: create transport classes
  CLAUDE.md
  docs/src/clients/main-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/cancellation.md
  docs/src/guides/getting-started.md
  docs/src/guides/pagination.md
  src/clients/base.ts
  src/clients/main.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/index.ts
  src/internal/paginate.ts
  src/internal/retry.ts
  src/internal/transport.ts
  src/internal/url.ts
  tests/clients/base.spec.ts
  tests/clients/main.spec.ts
  tests/clients/paginate.spec.ts
  tests/live/constants.live.spec.ts
  tsconfig.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix: guard non-finite retry and pool options
  src/internal/pool.ts
  src/internal/retry.ts
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

feat: extract the in-flight coalescer
  CLAUDE.md
  docs/src/guides/cache.md
  docs/src/guides/cancellation.md
  docs/src/guides/logging.md
  src/config/logger.ts
  src/index.ts
  src/internal/inflight.ts
  src/internal/transport.ts
  src/internal/url.ts
  tests/clients/base.spec.ts
  tests/config/logger.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

fix: small config nits
  docs/src/guides/cache.md
  package.json
  src/clients/base.ts
  src/config/cache.ts
  src/internal/retry.ts
  src/internal/transport.ts
  tests/clients/base.spec.ts
  tests/config/cache.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: improve guides and clients
  docs/src/clients/main-client.md
  docs/src/clients/utility-client.md
  docs/src/guides/cache.md
  docs/src/guides/cancellation.md
  docs/src/guides/errors.md
  docs/src/guides/fetch.md
  docs/src/guides/getting-started.md
  docs/src/guides/helpers.md
  docs/src/guides/logging.md
  docs/src/guides/migration.md
  docs/src/guides/pagination.md
  docs/src/index.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: sonar fixes and jsdocs format
  src/clients/base.ts
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/currency.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
  src/index.ts
  src/internal/transport.ts
  src/internal/url.ts
  src/models/contest/contest.ts
  src/models/currency/currency.ts
  src/models/encounter/encounter.ts
  src/models/evolution/evolution.ts
  src/models/game/generation.ts
  src/models/game/pokedex.ts
  src/models/game/version.ts
  src/models/item/item.ts
  src/models/location/location.ts
  src/models/location/palpark.ts
  src/models/location/region.ts
  src/models/move/move.ts
  src/models/pokemon/ability.ts
  src/models/pokemon/characteristic.ts
  src/models/pokemon/egg-group.ts
  src/models/pokemon/gender.ts
  src/models/pokemon/growth-rate.ts
  src/models/pokemon/nature.ts
  src/models/pokemon/pokeathlon-stat.ts
  src/models/pokemon/pokemon.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

feat: type chart, evolution and resource helpers
  CLAUDE.md
  docs/.vitepress/meta/routes.ts
  docs/src/guides/cache.md
  docs/src/guides/evolution.md
  docs/src/guides/helpers.md
  docs/src/guides/logging.md
  docs/src/guides/sprites.md
  docs/src/guides/type-chart.md
  src/clients/base.ts
  src/constants/berries.ts
  src/constants/encounters.ts
  src/constants/evolutions.ts
  src/constants/games.ts
  src/constants/items.ts
  src/constants/locations.ts
  src/constants/moves.ts
  src/constants/pokemon.ts
  src/index.ts
  src/internal/transport.ts
  src/models/evolution/evolution.ts
  src/utils/evolution.ts
  src/utils/index.ts
  src/utils/localize.ts
  src/utils/resource-id.ts
  src/utils/type-chart.ts
  tests/clients/base.spec.ts
  tests/helpers/model-keys.ts
  tests/live/constants.live.spec.ts
  tests/live/contract.live.spec.ts
  tests/live/drift.live.spec.ts
  tests/live/etag.live.spec.ts
  tests/live/sprites.live.spec.ts
  tests/live/values.live.spec.ts
  tests/utils/evolution.spec.ts
  tests/utils/localize.spec.ts
  tests/utils/resource-id.spec.ts
  tests/utils/type-chart.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat(utils): let formatRequirements name resources
  docs/src/guides/evolution.md
  src/index.ts
  src/utils/evolution.ts
  src/utils/type-chart.ts
  tests/utils/evolution.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

feat: report round trips honestly, add statsSince
  docs/src/guides/cache.md
  src/clients/base.ts
  src/internal/transport.ts
  src/utils/evolution.ts
  src/utils/type-chart.ts
  tests/clients/base.spec.ts
  tests/utils/type-chart.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

chore: update dev deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: remove size-limit
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix: improve evolution utility functions
  src/utils/evolution.ts
  tests/helpers/model-keys.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

chore: improve regex in utility functions
  src/utils/evolution.ts
  src/utils/type-chart.ts
  tests/live/constants.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

chore: update vitest
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(constants): add protect move ailment
  src/constants/moves.ts
  src/models/pokemon/pokemon.ts
  tests/helpers/model-keys.ts
  tests/live/drift.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

fix(constants): add protect move ailment (#1407)
  src/constants/moves.ts
  src/models/pokemon/pokemon.ts
  tests/helpers/model-keys.ts
  tests/live/drift.live.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc

build(deps): update tsdown
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

docs: update readme
  README.md
Due: prettier '**/*.{md,mdx,json}' --write

chore: improve hook setup
  .gitignore
  lefthook.yml
Due: none

build: update build configs
  .github/workflows/release.yml
  CLAUDE.md
  tsdown.config.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

test(base): add in-flight test cases
  tests/clients/base.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched

docs(github): update code of conduct
  .github/CODE_OF_CONDUCT.md
Due: prettier '**/*.{md,mdx,json}' --write

docs: update license copyright holder
  LICENSE
Due: none

chore: update vite
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore: update dev deps
  package.json
  pnpm-lock.yaml
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

fix(models)!: sync sprite tree and evolution chains with PokéAPI
  CLAUDE.md
  docs/src/clients/evolution-client.md
  docs/src/guides/evolution.md
  docs/src/guides/migration.md
  results.json
  src/clients/evolution.client.ts
  src/constants/endpoints.ts
  src/constants/evolutions.ts
  src/models/evolution/evolution.ts
  src/models/pokemon/pokemon.ts
  src/utils/evolution.ts
  tests/clients/evolution.spec.ts
  tests/helpers/model-keys.ts
  tests/live/constants.live.spec.ts
  tests/live/drift.live.spec.ts
  tests/live/values.live.spec.ts
  tests/utils/evolution.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write

chore: remove json test results
  results.json
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write

fix(models)!: sync evolution and sprite models with PokéAPI (#1412)
  CLAUDE.md
  docs/src/clients/evolution-client.md
  docs/src/guides/evolution.md
  docs/src/guides/migration.md
  package.json
  pnpm-lock.yaml
  src/clients/evolution.client.ts
  src/constants/endpoints.ts
  src/constants/evolutions.ts
  src/models/evolution/evolution.ts
  src/models/pokemon/pokemon.ts
  src/utils/evolution.ts
  tests/clients/evolution.spec.ts
  tests/helpers/model-keys.ts
  tests/live/constants.live.spec.ts
  tests/live/drift.live.spec.ts
  tests/live/values.live.spec.ts
  tests/utils/evolution.spec.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, tsc --noEmit, pnpm lint:fix, pnpm lint:tsc, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

chore(tests): update MSW
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/clients/base.spec.ts
  tests/clients/main.spec.ts
  tests/clients/paginate.spec.ts
  tests/helpers/setup.ts
Due: biome check --staged --apply-unsafe --no-errors-on-unmatched, prettier '**/*.{md,mdx,json}' --write, pnpm audit, pnpm lint:pkg

Path conditions:
  biome check --staged --apply-unsafe --no-errors-on-unmatched: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  tsc --noEmit: any of: src/**/*.ts
  pnpm lint:fix: any of: src/**/*.{js,ts,tsx}
  pnpm lint:tsc: any of: src/**/*.{js,ts,tsx}
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  pnpm audit: any of: package.json
  pnpm lint:pkg: any of: package.json
