Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

.lintstagedrc.json:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": ["prettier '**/*.{md,mdx,json}' --write", "git add ."],
  "./yarn.lock": ["lockfile-lint -p ./yarn.lock -a yarn -t yarn -s"]
}

chore(deps-dev): updade dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(dev-deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.6.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  b27315bb765d3b39101af65e3026133dd0f1c86f
Due: none

fix(ci): remove lockfile changes workflow
  .github/workflows/lock-changes.yml
  .npmignore
Due: none

fix(donations): add npm package and paypal link
  .github/FUNDING.yml
Due: none

chore(dev-deps): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(docs): add feedback section
  README.md
  docs/README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps): update pino typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(deps): sync yarn.lock
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

Notes added by 'git notes add'
  fa94890fcdf0535774009cbadba9ba0c67c0959a
Due: none

chore(dev-deps): updating typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(docs): remove unused documentation section
  docs/README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: package.json
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: version
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.7.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  94e829066e0c5efeeda94ca711e5577cc8f1bb46
Due: none

Notes added by 'git notes add'
  abc920692d2ba386c2731d3135aac6cce232a06c
Due: none

fix: sync lockfile
  yarn.lock
Due: lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.7.2 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  47bdd2c4dc85dac7cb1af09281c9b4d3cd80cec9
Due: none

chore(deps-dev): update types node and lint-staged
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint-plugin-import
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint typescript dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.7.3 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  25873bcd49121dba3bc0f639264268a523befb76
Due: none

fix(gitpod): remove unused comment
  .gitpod.yml
Due: none

chore(deps-dev): update jest typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update node typings and tslib
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.7.4 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  db5f5ff6ef9bd87604cdc457347e90ba881dfa44
Due: none
