Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(constants): update MoveAilments enum
  src/constants/moves.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

build(deps): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(release): 1.15.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  da8444950b5fa9e22c5b40cce1a21705336ac632
Due: none

feat(constants): update evolution triggers
  package.json
  src/constants/evolutions.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(constants): update versions and version groups
  src/constants/games.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(constants): updatevitems
  src/constants/items.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(funding): add github new sponsor
  .github/FUNDING.yml
Due: none

Updated github pages links
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.16.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  0d6c3bcfa18b719c465bb38f9c31bddddb71d0f5
Due: none

build(deps): update pino
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update pino version
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps): update pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

fix(models): other pokemon sprites #586
  src/models/Pokemon/pokemon.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(release): 1.16.1 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  87eaf6f895149a0896642ed3a71a1cf18aa1623f
Due: none

chore(deps): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(deps): update pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

build(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

feat(models): revert other pokemon sprites interface
  src/models/Pokemon/pokemon.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(release): 1.17.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  bea0fd8652861d81ba724438a8dc29c61009bbc1
Due: none

build(deps-dev): update dev deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

chore(deps-dev): update @typescript-eslint plugin and parser
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, lockfile-lint -p ./yarn.lock -a yarn -t yarn -s

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  lockfile-lint -p ./yarn.lock -a yarn -t yarn -s: any of: ./yarn.lock
