Repository Gabb-c/pokenode-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

feat: edit lint staged
  .husky/pre-commit
Due: none

fix: ncurc
  .ncurc.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): remove kofi button from docs
  .huskyrc
  .npmignore
  docs/index.html
Due: none

feat(docs): add fresh new open in vscode button
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): vscode link
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat: update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(dev): add new devcontainer configuration
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .npmignore
  .vscode/extensions.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update pino
  .ncurc.json
  README.md
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(dev): add vscode tasks
  .vscode/tasks.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(dev): add gitpod.yml
  .gitpod.yml
Due: none

fix(dev): gitpod image
  .gitpod.yml
Due: none

fix(dev): gitpod typo
  .gitpod.yml
Due: none

fix(dev): gitpod init task
  .gitpod.yml
Due: none

fix(docs): cache options typo
  docs/getting-started/cache.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): updating eslint dependencies
  .ncurc.json
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): updating lint-staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Update README.md
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat: add paypal button
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(dev): devcontainer
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: add yarn audit script
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): add paypal link
  docs/README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): add pokeapi liks to docs
  src/clients/berry.client.ts
  src/clients/contest.client.ts
  src/clients/encounter.client.ts
  src/clients/evolution.client.ts
  src/clients/game.client.ts
  src/clients/item.client.ts
  src/clients/location.client.ts
  src/clients/machine.client.ts
  src/clients/main.client.ts
  src/clients/move.client.ts
  src/clients/pokemon.client.ts
  src/clients/utility.client.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(ci): add yarn lock changes to pull request
  .github/workflows/label.yml
Due: none

feat(ci): add issue labeler bot
  .github/workflows/issue_label_bot.yml
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(dev-deps): update pino-pretty
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(ci): issue label bot
  .github/issue_label_bot.yml
Due: none

fix(docs): coverpage
  docs/_coverpage.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.5.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

Notes added by 'git notes add'
  6afb1ec95fe6be88eb185ad6b4774c6f032b56a9
Due: none

chore(deps-dev): updade dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(docs): update examples
  README.md
  docs/README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix(ci): remove labeler
  .github/labeler.yml
  .github/workflows/lock-changes.yml
Due: none

feat(ci): add stale bot
  .github/stale.yml
Due: none

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: (any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
